.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:rgb(183, 230, 255)
  }
  
  .wrapper {
    width: 100%;
    max-width: 320px;
  }
  
  .form {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 32px 24px;
    margin-bottom: 16px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .inputGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    color: #4A5568; /* Tailwind's gray-700 */
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .input {
    display: block;
    width: 100%;
    border: 1px solid #CBD5E0; /* Tailwind's gray-300 */
    border-radius: 4px;
    padding: 12px;
    color: #4A5568; /* Tailwind's gray-700 */
  }
  
  .submitContainer {
    display: flex;
    justify-content: center;
  }
  
  .submitButton {
    width: 100%;
    background-color: #4299E1; /* Tailwind's blue-500 */
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #3182CE; /* Tailwind's blue-600 */
  }
  